
@{
    ViewData["Title"] = "Home";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hotel Admin Home</title>
    <link href="~/reset.css" rel="stylesheet" />
    <link href="/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header><h1>Async Inn Database</h1></header>
    <nav id="dbLinks">
        <a href="/Hotel">Hotels</a>
        <a href="/HotelRoom">Hotel Rooms</a>
        <a href="/Room">Room Details</a>
        <a href="/RoomAmenities">Room Amenities</a>
        <a href="/Amenities">Amenities List</a>
    </nav>
    <h2 id="info">To access the database, choose a selection from the navigation menu.</h2>

</body>
</html>

